@font-face {
    font-family: 'GothamSSm';
    src: url(asset/fonts/GothamSSm-Light925f569f8ddbb18a409d.otf);
}

html,
body,
#root {
   /* --unit: calc(100vh/1920);x */
   position: absolute;
   margin: 0;
   top: 0;
   left: 0;
   min-height: var(--unit);
   /* background-color:  #2b1a5f; */
   background-color:  #0166B8;
   width: 100%;
   height: 100%;
   font-family: "GothamSSm", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   display: flex;
   align-items: center;
}

#root {
    display: flex;
    justify-content: center;
}

.preloader{
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.preloader svg{
    position: relative;
    width: 20%;
    height: auto;
    animation-name: rotate;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 1s;
}

@keyframes rotate {
    0% {transform: rotate(0deg);}
    25% {transform: rotate(90deg);}
    50% {transform: rotate(180deg);}
    75% {transform: rotate(270deg);}
    100% {transform: rotate(360deg);}
}

.hidden{
    display: none !important;
}
.App {
    position: relative;
    height: calc(1920*var(--unit));
    min-width: calc(1080*var(--unit));
    background-image: url(asset/BG.png);
    background-size: 100% auto;
    overflow: hidden;
}

.App-title {
    font-family: GothamSsm, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
}
.VideoHolder{
    position: absolute;
    top: 0px;
    left: 0px;
    width: calc(1080*var(--unit));
    height: calc(1920*var(--unit));
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
}

.VideoHolder-source{
    position: relative;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: opacity 0.5s linear;
}

.VideoHolder-source-hidden{
    opacity: 0;
}

.LoadingScreen {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #00000088;
}

.LoadingScreen .LoadingScreen-start-button {
    position: absolute;
    font-size: calc(42*var(--unit));
    font-family: GothamSSm, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 325;
    line-height: 100%;
    color: #fff;
    top: calc(1600em/42);
    width: calc(480em/42);
    height: calc(120em/42);
    border-radius: calc(60em/42);
    border: 0;
    background-image: linear-gradient(90deg, #0FDEA0 0%, #3988FF 100%);
}

.LoadingScreen-start-button:active {
    transform-origin: 50% 50%;
    transform: scaleX(1.02);
}

.LoadingScreen .LoadingScreen-sprite-container {
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    background-image: url(asset/BG.png);
    background-position: center;
    background-size: 100% 100%;
}

.LoadingScreen .LoadingScreen-sprite-container .LoadingScreen-sprite {
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: auto;
    /* animation-name: rotate;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 2s; */
}

@keyframes rotate {
    0% {transform: rotate(0deg);}
    50% {transform: rotate(-180deg);}
    100% {transform: rotate(-360deg);}
}
.LearningElement {
    position: absolute;
    top: 0%;
    left: 0%;
    width: calc(1080*var(--unit));
    height: calc(1920*var(--unit));
    display: flex;
    align-items: center;
    flex-direction: column;
}

.LearningElement-instruction{
    position: absolute;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    width: calc(984*var(--unit));
    height: calc(240*var(--unit));
    top: calc(222*var(--unit));
    font-family: 'GothamSSm', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 325;
    font-size: calc(39*var(--unit));
    ;
    line-height: calc(60*var(--unit));
    ;
    /* or 154% */

    color: #FFFDFD;
}
.HeadTab {
    position: relative;
    width: calc(600*var(--unit));
    height: calc(108*var(--unit));
    background-color: #6D2AF4;
    top: calc(108*var(--unit));
    border-radius: calc(54*var(--unit));
    display: flex;
    justify-content: center;
    align-items: center;
}

.Observation-tab,
.Question-tab,
.non-selected {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(300*var(--unit));
    height: calc(108*var(--unit));
    border-radius: calc(54*var(--unit));
}

.Observation-tab,
.Question-tab {
    background: #FFFFFF;
    font-size: calc(36*var(--unit));
    color: #3612AF;
    box-shadow: calc(3*var(--unit)) calc(4*var(--unit)) calc(8*var(--unit)) rgba(0, 0, 0, 0.25);
}

.non-selected {
    width: calc(300*var(--unit));
    height: calc(108*var(--unit));
    font-size: calc(36*var(--unit));
    border-radius: calc(54*var(--unit));
    color: #FFFFFF;
}
.VisualArea{
    position: absolute;
    width: calc(984*var(--unit));
    height: calc(520*var(--unit));
    top: calc(564*var(--unit));
    background-color: rgb(7, 33, 71);
    border-radius: calc(24*var(--unit));
    background-image: url(resource/Level1/Background.png);
    background-position: center;
    background-size: 100% auto;
    overflow: hidden;
}

.VisualArea-spriteframe{
    top: 0px;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 100%;
}

.hidden{
    opacity: 0;
}
.FeedbackArea {
    position: absolute;
    width: calc(984*var(--unit));
    height: calc(180*var(--unit));
    top: calc(1120*var(--unit));
    border-radius: calc(24*var(--unit));
    background-image: linear-gradient(180deg, #FFE601 0%, #E8882F 100%);
    opacity: 1;
    transition: opacity 0.2s linear;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "GothamSSm";
}

.FeedbackArea-hidden{
    opacity: 0;
    transition: opacity 0.2s linear;
}

.FeedbackArea-text {
    position: relative;
    width: 100%;
    margin-right: calc(36*var(--unit));
    margin-left: calc(36*var(--unit));
    width: calc(912*var(--unit));
    font-style: normal;
    font-weight: 325;
    font-size: calc(36*var(--unit));
    line-height: calc(48*var(--unit));
    /* or 133% */

    display: flex;
    align-items: center;
    text-align: center;

    color: #333333;
}
.Slider {
    position: absolute;
    top: calc(1510*var(--unit));
    width: calc(978*var(--unit));
    height: calc(60*var(--unit));
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Slider-input {
    position: relative;
    -webkit-appearance: none;
    position: relative;
    width: 100%;
    height: calc(12*var(--unit));
    outline: none;
    overflow: none;
    margin: 0;
}

.Slider-input::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: calc(60*var(--unit));
    height: calc(60*var(--unit));
    background: linear-gradient(#fb8d34, #f96074);
    border: none;
    border-radius: 50%;
    z-index: 3;
}

.Slider-input::-moz-range-thumb {
    -webkit-appearance: none;
    width: calc(60*var(--unit));
    height: calc(60*var(--unit));
    background: linear-gradient(#fb8d34, #f96074);
    border: none;
    border-radius: 50%;
    z-index: 3;
}

.Slider-input-marker{
    position: relative;
    height: calc(38*var(--unit));
    width: calc(12*var(--unit));
    background-color: #ffffff;
    border-radius: calc(6*var(--unit));
}
.Taps{
    position: absolute;
    width: calc(984*var(--unit));
    height: calc(316*var(--unit));
    top: calc(1336*var(--unit));
}

.Taps-buttons{
    position: relative;
    width: calc(300*var(--unit));
    height: calc(316*var(--unit));
    background-image: linear-gradient(180deg, #CF47FF 0%, #7E00EE 100%);
    box-shadow: 0 calc(4*var(--unit)) calc(8*var(--unit)) #0F007B;
    border-radius: calc(24*var(--unit));
}
.Button{
    position: absolute;
    font-size: calc(42*var(--unit));
    font-family: GothamSSm, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 325;
    line-height: 100%;
    color: #fff;
    top: calc(1700em/42);
    width: calc(480em/42);
    height: calc(120em/42);
    border-radius: calc(60em/42);
    border: 0;
    background-image: linear-gradient(90deg, #0FDEA0 0%, #3988FF 100%);
    transition: top 0.1s linear;
}
.Button-hidden{
    top: 100%;
    transition: top 0.1s linear;
}
.Button:active {
    transform-origin: 50% 50%;
    transform: scaleX(1.02);
}
.Question {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.Question-scrollable-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.Question-scrollable-window {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    --offsetTop: calc(180*var(--unit));
    /* top: var(--offsetTop); */
    bottom: calc(0*var(--unit));
    width: 100%;
    height: calc(1920*var(--unit) - var(--offsetTop));
    overflow: hidden;
    scroll-behavior: smooth;
}

.Question-instruction {
    position: relative;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    width: calc(984*var(--unit));
    height: calc(240*var(--unit));
    top: calc(60*var(--unit));
    font-family: 'GothamSSm', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 325;
    font-size: calc(39*var(--unit));
    line-height: calc(60*var(--unit));
    /* or 154% */
    color: #FFFDFD;
}

.Question-option-container {
    position: relative;
    top: calc(120*var(--unit));
    width: calc(984*var(--unit));
    height: auto;
    display: flex;
    flex-direction: column;
}

.option-icon-required {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.Question-image {
    position: relative;
    top: calc(52 * var(--unit));
    width: calc(984 * var(--unit));
    height: calc(452 * var(--unit));
}

.overflow {
    overflow-y: scroll;
}

/* Feedback */
.Question-feedback-container {
    position: relative;
    top: calc(85 * var(--unit));
    width: calc(984 * var(--unit));
    height: calc(144 * var(--unit));
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 1;
    transition: opacity 0.5s linear;
}

.opacity-hidden {
    opacity: 0;
    transition: opacity 0.5s linear;
}

.Question-feedback-container .Question-feedback-heading {
    position: relative;
    margin-top: 0.02em;
    margin-bottom: 0.02em;
    font-family: 'GothamSSm';
    font-style: normal;
    font-weight: 900;
    font-size: calc(45*var(--unit));
    line-height: calc(54*var(--unit));
    /* or 120% */
    text-align: center;
    
}
.feedback-incorrect{
    color: #FF8181;
}
.feedback-correct{
    color: #8DD43E;
}

.Question-feedback-container .Question-feedback-text {
    position: relative;
    margin-top: 0.03em;
    margin-bottom: 0.03em;
    font-family: 'GothamSSm';
    font-style: normal;
    font-weight: 325;
    font-size: calc(36*var(--unit));
    line-height: calc(43*var(--unit));
    /* or 120% */
    text-align: center;
}

/* Solution */
.Question-solution {
    position: relative;
    top: calc(210*var(--unit));
    width: calc(984*var(--unit));
    min-height: calc(200*var(--unit));
    background-color: #D718A1;
    border-radius: calc(24*var(--unit));
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: calc(230*var(--unit));
    margin-bottom: calc(20*var(--unit));
}

.Question-solution .Question-solution-heading {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    position: relative;
    font-family: 'GothamSSm';
    font-style: normal;
    font-weight: 700;
    font-size: calc(45*var(--unit));
    line-height: calc(54*var(--unit));
    /* or 120% */
    text-align: center;
    color: #FFFFFF;
}

.Question-solution .Question-solution-body {
    position: relative;
    margin-top: 0.1em;
    margin-bottom: 0.5em;
    width: calc(909*var(--unit));
    font-family: 'GothamSSm';
    font-style: normal;
    font-weight: 325;
    font-size: calc(36*var(--unit));
    line-height: calc(48*var(--unit));
    /* or 133% */
    height: fit-content;
    resize: none;
    overflow: hidden;
    background-color: #ffffff00;
    white-space: pre-line;
    color: #FFFFFF;
}
.Option {
    position: relative;
    margin-top: calc(18em/36);
    margin-bottom: calc(18em/36);
    font-size: calc(36*var(--unit));
    width: calc(984em/36);
    height: calc(132em/36);
    background-color: #ffffff;
    border-radius: calc(24em/36);
    box-shadow: calc(3em/36) calc(8em/36) calc(10em/36) rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
}

.iconRequired-option-style {
    width: calc(472 * var(--unit));
    height: calc(300 * var(--unit));
    margin-left: calc(10 * var(--unit));
    margin-right: calc(10 * var(--unit));
}

.Option-text {
    position: relative;
}

.Option-icon {
    height: calc(200*var(--unit));
    width: auto;
}

.correct-option {
    background-image: linear-gradient(180deg, #49BE47 0%, rgba(54, 167, 92, 0.92) 100%);
    color: #fff;
}

.incorrect-option {
    background-image: linear-gradient(180deg, #FC7070 0%, #EB5050 100%);
    color: #fff;
}
